*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root{
  width: 400px;
  height: 600px;
  transform: translateY(10%);
  background: rgb(235, 235, 235);
  -webkit-box-shadow: 5px 9px 19px 6px rgba(0,0,0,0.16);
-moz-box-shadow: 5px 9px 19px 6px rgba(0,0,0,0.16);
box-shadow: 5px 9px 19px 6px rgba(0,0,0,0.16);
overflow-y: scroll;
}